
# BeagleSDR Spartan 3S 500E 208PQ - 2018/05/31
NET clk50   LOC="P80"  | IOSTANDARD=LVCMOS33 | PERIOD=20ns;               # CLK

NET RX  LOC = "p100" | IOSTANDARD = LVTTL ;
NET TX  LOC = "p99" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

###
NET "DAC_CLK"  LOC = "P24" | IOSTANDARD=LVTTL;   
NET "DAC_SLEEP"  LOC = "P25" | IOSTANDARD=LVTTL;   
NET Audio_L  LOC=P23 | IOSTANDARD=LVTTL;                                # C0
#NET Audio_R  LOC=P115 | IOSTANDARD=LVTTL;  
###

NET LED<0>   LOC="P49" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;          # LED1
NET LED<1>   LOC="P50" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=SLOW;          # LED1
###
#NET BTN<3>   LOC=P131 | IOSTANDARD=LVTTL;
#NET BTN<2>   LOC=P132 | IOSTANDARD=LVTTL;
#NET BTN<1>   LOC=P133 | IOSTANDARD=LVTTL;
#NET BTN<0>   LOC=P134 | IOSTANDARD=LVTTL;
#NET I2S_MCLK LOC=P48; # Pin 1
#NET I2S_LRCK LOC=P51; # Pin 2
#NET I2S_SCLK LOC=P56; # Pin 3
#NET I2S_SDAT LOC=P58; # Pin 4

NET "SDRAM_BA<1>" LOC="P165" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_BA<0>" LOC="P164" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_nWE" LOC="P163" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_CKE" LOC="P162" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_CLK" LOC="P161" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_DQM<1>" LOC="P160" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_DQM<0>" LOC="P108" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_nCAS" LOC="P107"  | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_nRAS" LOC="P106"  | IOSTANDARD = LVCMOS33 ;

NET "SDRAM_ADDR<0>"  LOC = "P126" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<1>"  LOC = "P127" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<2>"  LOC = "P128" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<3>"  LOC = "P129" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<4>"  LOC = "P132" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<5>"  LOC = "P133" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<6>"  LOC = "P134" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<7>"  LOC = "P135" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<8>"  LOC = "P137" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<9>"  LOC = "P138" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<10>"  LOC = "P123" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<11>"  LOC = "P139" | IOSTANDARD = LVCMOS33 ;
NET "SDRAM_ADDR<12>"  LOC = "P140" | IOSTANDARD = LVCMOS33 ;

NET "SDRAM_DQ<0>"  LOC = "P122" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<1>"  LOC = "P120" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<2>"  LOC = "P119" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<3>"  LOC = "P116" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<4>"  LOC = "P115" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<5>"  LOC = "P113" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<6>"  LOC = "P112" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<7>"  LOC = "P109" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<8>"  LOC = "P153" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<9>"  LOC = "P152" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<10>"  LOC = "P151" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<11>"  LOC = "P150" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<12>"  LOC = "P147" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<13>"  LOC = "P146" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<14>"  LOC = "P145" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;
NET "SDRAM_DQ<15>"  LOC = "P144" | IOSTANDARD = LVCMOS33  | SLEW = FAST ;

